/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* Variables */
:root {
    --bg-color: #13093c;
    --fg-color: rgb(235, 235, 235);
}

body {
    background-color: var(--bg-color);
    color: var(--fg-color); 
    font-family: 'Source Sans Pro', sans-serif;
}

span {
    background: #7258E2;
    background: linear-gradient(90deg, rgba(193,0,128,1) 0%, rgba(212,4,255,1) 33%, rgba(139,0,231,1) 67%, rgb(79, 55, 144) 100%);    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Pacifico', cursive;
    text-align: center;
}

/* Header */
.header {
    width: 60vw;
    margin: auto;
    height: 100vh;
}

.header .child {
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header .child h1 {
    text-align: center;
}

.header .arrow {
    width: auto;
    height: auto;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    width: 60vw;
    margin: auto;
}

h1 {
    margin-bottom: 1em;
    font-size: 3em;
    font-weight: lighter;
}

p {
    font-size: 1.5em;
    font-weight: 400;
}

a {
    color: var(--fg-color);
    opacity: 0.8;
    transition: 0.3s;
}

a:hover {
    opacity: 0.4;
    transition: 0.3s;
}

hr {
    color: var(--fg-color);
}

@media only screen and (max-width: 1026px) {

    .container {
        width: 95vw;
        margin: auto;
    }
}